.our_heading {
  text-align: center;
  font-family: monsimd;
  font-weight: 700;
  font-size: 25px;
}
.our_team_heading p {
  text-align: center;
  color: #424242;
  font-size: 12px;
  padding-bottom: 20px;
  font-family: popi;
}
.div-center {
  display: flex;
  justify-content: center;
  width: 100%;
}
.our_team {
  padding-top: 90px;
  padding-bottom: 60px;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(244, 245, 249, 0.2) 0%,
    #efefef 100%
  );
}
.orange_tag {
  border: 2px solid #ec6600;
  width: 95px;
  position: absolute;
  margin-left: 132px;
  margin-top: -14px;
}
.nextarror:hover {
  background-color: #02c4b7;
  border: none;
}

.nextarror:hover .innerarrow {
  color: white;
}
.orat img {
  height: 200px;
  margin-top: -22px;
  margin-left: -24px;
  /* border: 1px solid red; */
}
.team_member {
  display: flex;
}
.social {
  flex-direction: column;
  padding-top: 11px;
}
.item {
  padding-bottom: 46px;
}
.item img {
  height: 14px;
}
.slider-wraperr {
  padding: "-4px 30px";
  margin: -25px 97px;
}

.our_team_member {
  background-color: #02b2a6;
  width: 229px;
  margin-left: 60px;
}

.ortho_heading1 {
  font-weight: 600;

  color: white;
  font-size: 16px;
  width: 200px;
  padding-left: 20px;
}
.ortho_heading1_lady {
  font-weight: 600;
  color: white;
  font-size: 17px;
  /* width: 230px; */
  padding-left: 15px;
}
.ortho_heading3 {
  color: #c5d7d5;
  padding-bottom: 10px;
  width: 251px;
  padding-left: 15px;
  padding-right: 30px;
  /* text-align: center; */
  font-family: popi;
  font-size: 11px;
}
.circle {
  border: 1px solid #b7b7b7;
  border-radius: 25px;
  padding: 5px;
  height: 35px;
  width: 34px;
  margin-top: 162px;
  margin-left: 9px;
}

.img2 {
  margin-left: 4px;
  margin-bottom: -1px;
}
.img1 {
  margin-left: 6px;
  margin-bottom: 7px;
}
.members {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  width: 80%;
}

.our_team_heading {
  padding-top: 50px;
}
@media only screen and (max-width: 768px) {
  .slider-wraperr {
    margin: 10px 40px;
  }
}
@media (max-width: 576.98px) {
  .our_team_member {
    margin-left: 0;
    margin-bottom: 80px;
  }
  .members {
    display: flex;
    /* padding-left: 60px; */
    padding-top: 60px;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: center;
    width: 110%;
  }
}
