.sec_div {
  display: flex;
  text-align: start;
  padding-bottom: 40px;
}
.sec_div1 {
  width: 600px;
  padding: 0 30px;
}
.sec_div2 {
  width: 600px;
  padding: 0 30px;
}
.sec_heading {
  margin-bottom: 20px;
  color: #404040;
  font-weight: 700;
  font-family: popi;
}
@media only screen and (max-width: 1090px) {
  .sec_div1 {
    width: 100%;
  }
  .sec_div2 {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .sec_div1 {
    width: 100%;
  }
  .sec_div2 {
    width: 100%;
  }
}
@media (max-width: 768.98px) {
  .sec_div1 {
    width: 100%;
  }
  .sec_div2 {
    width: 100%;
  }
}
